<div class="logo">
    <div class="logo-normal">
        <div class="logo-img">
            <img src="/assets/img/logo/logo1.png" />
        </div>
        <a href="#" class="simple-text">
            Smart Irrigation
        </a>
    </div>
</div>

<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group form-search is-empty">
                <input class="form-control" placeholder="Search" type="text">
                <span class="material-input"></span>
                <span class="material-input"></span>
            </div>
            <button class="btn btn-white btn-round btn-just-icon" type="submit">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
            </button>
        </form>
        <ul class="nav nav-mobile-menu">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">person</i>
                    <p class="hidden-lg hidden-md">Perfil</p>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a [routerLink]="['/editar-dados']">Editar conta</a>
                    </li>
                    <li>
                        <a (click)="logout()" style="cursor: pointer">Sair</a>
                    </li>
                </ul>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>
    <div class="nav-container">
        <ul class="nav">
            <ng-container *ngFor="let menuitem of menuItems">
                <li routerLinkActive="active">
                    <!--If is a single link-->
                    <ng-container>
                        <a class="custom-link" [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
                            <i class="material-icons">{{menuitem.icontype}}</i>
                            <p>{{menuitem.title}}</p>
                        </a>
                    </ng-container>
                    <!--If it have a submenu-->
                    <a class="custom-link" data-toggle="collapse" href="#{{menuitem.collapse}}"
                        *ngIf="menuitem.type === 'sub'" (click)="updatePS()">
                        <i class="material-icons">{{menuitem.icontype}}</i>
                        <p>{{menuitem.title}}
                            <b class="caret"></b>
                        </p>
                    </a>

                    <!--Display the submenu items-->
                    <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                        <ul class="nav">
                            <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
                                <ng-container>
                                    <a [routerLink]="[menuitem.path, childitem.path]">
                                        <span class="sidebar-mini">{{childitem.ab}}</span>
                                        <span class="sidebar-normal">{{childitem.title}}</span>
                                    </a>
                                </ng-container>
                            </li>
                        </ul>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>

</div>