hr {
    margin: 5px;
}

.edit {
    padding: 0 15px 0 0;
    margin: 0;
}

ul {
    list-style: none;
}

strong.pull-right {
    padding-right: 20px;
}

.title_med {
    margin: 0;
    height: 30px;
}

.add_med {
    padding: 5px 5px 5px 5px;

}

.display-error {
    color: red;
    position: absolute;
    top: 31px;
    font-size: 0.9em;
}