<div class="modal fade generic-modal" id="categoryModal" tabindex="-1" role="dialog"
  aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card-header card-header-icon" data-background-color="parking">
        <i *ngIf="edit" class="material-icons">edit</i>
        <i *ngIf="!edit" class="material-icons">add</i>
      </div>
      <h5 class="modal-title">
        <strong *ngIf="edit">Editar Categoria</strong>
        <strong *ngIf="!edit">Nova Categoria</strong>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #categoryForm="ngForm">

          <div class="row">
            <div class="col-sm-12">
              <mat-form-field>
                <input matInput #categoryName [(ngModel)]="obj.name" placeholder="Nome" name="name" type="text"
                  required>
              </mat-form-field>
            </div>
          </div>
          <div class="row btn-space">
            <button (click)="clearForm(categoryForm)" type="button" class='btn btn-round  pull-left'>Limpar</button>

            <button (click)="updateOrCreate('#categoryModal')" type="submit"
              class='btn btn-finish btn-fill btn-round btn-parking pull-right'
              [disabled]="!categoryForm.form.valid">Salvar</button>

            <button (click)="closeModal()" type="button" class='btn btn-round  pull-right'>Voltar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>