<div class="modal fade generic-modal" id="consultaModal" tabindex="-1" role="dialog"
  aria-labelledby="consultaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card-header card-header-icon" data-background-color="parking">
        <i *ngIf="edit" class="material-icons">edit</i>
        <i *ngIf="!edit" class="material-icons">add</i>
      </div>
      <h5 class="modal-title">
        <strong *ngIf="edit">Editar Consulta</strong>
        <strong *ngIf="!edit">Novo Consulta</strong>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #consultaForm="ngForm">

          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput #consultaPaciente [(ngModel)]="obj.paciente" placeholder="Nome do paciente"
                  name="paciente" type="text" required>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-select [(ngModel)]="obj.dentista.id" placeholder="Dentista" name="dentista" required>
                  <mat-option *ngFor="let dentista of dentistas" [value]="dentista.id">
                    {{ dentista.name }} - {{ dentista.cro }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput [min]="minDate" [formControl]="data" name="date" [matDatepicker]="dp3"
                  placeholder="Data" placeholder="Data" [disabled]="true">
                <mat-datepicker-toggle matSuffix [for]="dp3" required></mat-datepicker-toggle>
                <mat-datepicker #dp3 [disabled]="false" required></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field>
                <mat-select [(ngModel)]="obj.horario" placeholder="Horario" name="horario" required>
                  <mat-option *ngFor="let horario of horarios" [value]="horario">
                    {{ horario }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row btn-space">
            <button (click)="clearForm(consultaForm)" type="button" class='btn btn-round  pull-left'>Limpar</button>

            <button (click)="save()" type="submit" class='btn btn-finish btn-fill btn-round btn-parking pull-right'
              [disabled]="!consultaForm.form.valid">Salvar</button>

            <button (click)="closeModal()" type="button" class='btn btn-round  pull-right'>Voltar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>