<div class="modal fade generic-modal" id="plantModal" tabindex="-1" role="dialog" aria-labelledby="plantModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="card-header card-header-icon" data-background-color="parking">
        <i *ngIf="edit" class="material-icons">edit</i>
        <i *ngIf="!edit" class="material-icons">add</i>
      </div>
      <h5 class="modal-title">
        <strong *ngIf="edit">Editar Planta</strong>
        <strong *ngIf="!edit">Nova Planta</strong>
      </h5>

      <div class="modal-body">

        <form class="form-horizontal" #plantForm="ngForm">

          <div class="row">
            <div class="col-sm-6">
              <mat-form-field>
                <input matInput #plantName [(ngModel)]="obj.name" placeholder="Nome" name="name" type="text" required>
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field>
                <mat-select [(ngModel)]="obj.category.id" placeholder="{{getHolderCategory()}}" name="area" required>
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="row btn-space">
            <button (click)="clearForm(plantForm)" type="button" class='btn btn-round  pull-left'>Limpar</button>

            <button (click)="updateOrCreate('#plantModal')" type="submit"
              class='btn btn-finish btn-fill btn-round btn-parking pull-right'
              [disabled]="!plantForm.form.valid">Salvar</button>

            <button (click)="closeModal()" type="button" class='btn btn-round  pull-right'>Voltar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>