<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button (click)="showModal()" class="btn btn-parking btn-raised pull-right">
          <i class="material-icons">add</i> Planta
        </button>
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="parking">
            <i class="material-icons">list</i>
          </div>
          <div class="card-content">
            <h5 class="card-title">
              <strong>Lista de plantas</strong>
            </h5>

            <div class="row">
              <div class="col-sm-6 pull-right">
                <mat-form-field class="busca">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar por nome">
                  <i class="material-icons">search</i>
                </mat-form-field>
              </div>
            </div>

            <div class="example-container">

              <mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nome
                  </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.name }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria
                  </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{ item.category.name }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="acoes">
                  <mat-header-cell class="text-right" *matHeaderCellDef> Ações </mat-header-cell>
                  <mat-cell class="text-right acoes" *matCellDef="let item">
                    <button class="btn btn-simple btn-info btn-icon edit" matTooltip="Editar"
                      [matTooltipPosition]="'left'" (click)="showModal(item)">
                      <i class="material-icons">edit</i>
                    </button>
                    <button class="btn btn-simple btn-danger btn-icon edit" matTooltip="Excluir"
                      [matTooltipPosition]="'left'" data-toggle="modal" (click)="deleteItem(item)">
                      <i class="material-icons">delete</i>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let item; columns: displayedColumns;">
                </mat-row>
              </mat-table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>
          <app-plant-form #plantModal></app-plant-form>
        </div>
      </div>
    </div>
  </div>
</div>